var orderStatusFormat = function (status) {
  console.log(typeof status);
  // let arrays = [
  //   { value: 0, text: '待付款' },
  //   { value: 1, text: '已付款' },
  //   { value: 2, text: '退款中' },
  //   { value: 3, text: '已退款' },
  //   { value: 4, text: '已取消' },
  //   { value: 5, text: '已完成' },
  // ];
  var text = '';
  switch (status) {
    case 0:
      text = '待付款';
      break;
    case 1: 
      text = '已付款';
      break;
    case 2:
      text = '退款中';
      break;
    case 3:
      text = '已退款';
      break;
    case 4:
      text = '已取消';
      break;
    case 5:
      text = '已完成';
      break;
  }
  return text;
}

// 购物车页面获取购物车选中商品的总价
var getShopCartPageTotalPrice = function (cart) {
  var result = cart.filter(function(item) {
    return item.selected;
  }).reduce(function (cur, pre) {
    return cur + (pre.num * pre.amount)
  }, 0);
  return '￥' + (result / 100);
}

// 获取购物车是否全选
var getShopCartIsAllSelected = function (cart) {
  var result = cart.filter(function (item) {
    return !item.selected;
  });
  return !result.length;
}

// 购物车支付页面总价
var getPayShopCartTotalPrice = function (cart) {
  var result = cart.reduce(function (cur, pre) {
    return cur + (pre.num * pre.amount)
  }, 0);
  return '￥' + (result / 100);
}

// 获取购物车的商品总数
var getCartGoodsNum = function (cart) {
  var result = cart.reduce(function (cur, pre) {
    return cur + pre.num;
  }, 0);
  return result;
}

// 获取商品的销售数量
var getGoodsSaleQuantity = function (sale) {
  return sale ? '售' + (sale >= 10000 ? '1W+' : sale) + '件' : '';
}

/**
 * 导出
 */

module.exports = {
  orderStatusFormat: orderStatusFormat,
  getShopCartPageTotalPrice: getShopCartPageTotalPrice,
  getShopCartIsAllSelected: getShopCartIsAllSelected,
  getPayShopCartTotalPrice: getPayShopCartTotalPrice,
  getGoodsSaleQuantity: getGoodsSaleQuantity,
  getCartGoodsNum: getCartGoodsNum
}